@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --spacing: 1px;
  /* --color-primary: #FE2C55; */
  --color-primary: #EE4D2D;
}
