@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --spacing: 1px;
  /* --color-primary: #FE2C55; */
  /* --color-primary: #ee4d2d; */
  --color-primary: #dc2626;
}
