.custom-description .ant-descriptions-row {
  /* border-bottom: 1px solid #f0f0f0; */
  border-bottom: 1px dashed #e5e7eb !important;
}

.ant-descriptions-view {
  border: none !important;
}

.custom-description .ant-descriptions-item-label {
  background-color: #6b7280 !important;
  padding-left: 0 !important;
  font-size: 14px !important;
  font-weight: 500;
  white-space: nowrap;
}

.custom-description .ant-descriptions-item-content {
  white-space: pre-line;
  font-size: 14px !important;
  color: black;
  font-weight: 500;
}

.custom-description .ant-descriptions-item {
  padding: 12px 16px;
  border: none !important;
  font-size: 14px;
}
