/* Đổi màu nền chỉ phần nội dung */
.custom-drawer-body .ant-drawer-body {
  background-color: #f3f4f6 !important; /* màu nền mong muốn */
}

/* Nếu muốn header trắng chẳng hạn */
.ant-drawer-header {
  background-color: white;
}
